Repository xrplevm/firewatch, pull requests merged in 2025-05, with the labels that each got.

#17 [TA-4278]: Cleanup to ERC20 tests
  modules/evm/module.config.example.json
  modules/evm/package.json
  modules/evm/test/precompiles/erc20/index.test.ts
  modules/evm/test/precompiles/erc20/utils/helpers.ts
Labels: evm

#21 [TA-4571]: Make tests skippable by chain condition
  modules/axelar/test/cross-chain-transfers/evm-evm/interchain-token.test.ts
  modules/axelar/test/cross-chain-transfers/xrpl-evm/native-transfer.test.ts
  modules/cosmos/test/modules/PoA/index.test.ts
  modules/cosmos/test/modules/bank/index.test.ts
  modules/cosmos/test/modules/slashing/index.test.ts
  modules/evm/test/precompiles/erc20/index.test.ts
  modules/evm/test/precompiles/erc20/utils/helpers.ts
  packages/testing/mocha/package.json
  packages/testing/mocha/src/assertions/chain.ts
  packages/testing/mocha/src/assertions/errors.ts
  packages/testing/mocha/src/assertions/index.ts
  packages/testing/mocha/src/utils/index.ts
  packages/testing/mocha/src/utils/skippable.ts
  pnpm-lock.yaml
Labels: testing/mocha, cosmos, axelar, evm

#26 [TA-4577]: Dockerize modules
  .github/workflows/build-axelar.yml
  .github/workflows/build-base.yml
  .github/workflows/build-cosmos.yml
  .github/workflows/build-evm.yml
  .github/workflows/pull-request.yml
  README.md
  docker/axelar.Dockerfile
  docker/base.Dockerfile
  docker/cosmos.Dockerfile
  docker/evm.Dockerfile
  modules/axelar/configs/devnet.module.config.json
  modules/axelar/configs/mainnet.module.config.json
  modules/axelar/configs/testnet.module.config.json
  modules/axelar/package.json
  modules/cosmos/configs/devnet.module.config.json
  modules/cosmos/configs/mainnet.module.config.json
  modules/cosmos/configs/testnet.module.config.json
  modules/cosmos/package.json
  modules/evm/configs/devnet.module.config.json
  modules/evm/configs/localnet.module.config.json
  modules/evm/configs/mainnet.module.config.json
  modules/evm/configs/testnet.module.config.json
  modules/evm/package.json
  packages/bridge/src/providers/axelarscan/axelarscan.provider.errors.ts
  packages/bridge/src/providers/axelarscan/axelarscan.provider.ts
  packages/bridge/src/providers/axelarscan/utils/env.ts
  packages/bridge/src/providers/axelarscan/utils/patched-recovery.api.ts
  packages/bridge/src/signers/evm/ethers/web3/index.ts
  packages/bridge/src/signers/evm/ethers/web3/interfaces/i-web3.signer.ts
  packages/bridge/src/signers/evm/ethers/web3/interfaces/index.ts
  packages/bridge/src/signers/evm/ethers/web3/web3.signer.errors.ts
  packages/bridge/src/signers/evm/ethers/web3/web3.signer.ts
  packages/bridge/src/signers/evm/ethers/web3/web3.signer.types.ts
  packages/core/package.json
  packages/shared/xrpl/src/currency-code.ts
  pnpm-lock.yaml
Labels: cosmos, axelar, evm
